@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "@iconify/tailwind4";

@view-transition {
  navigation: auto;
}
html,
:host {
  font-family: 'Noto Sans JP', sans-serif !important;
}
video {
  max-height: 100%;
  max-width: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
